name: website

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 14.x
              uses: actions/setup-node@main
              with:
                  node-version: 14
                  check-latest: true

            - name: Install dependencies
              run: npm i

            - name: Build
              run: npm run build
